
<div class="login_container">

  <div class="login d-flex justify-content-center align-items-center shadow">

    <div class="login_img d-flex flex-column justify-content-center align-items-center">
      <h3 class="titulo">Login Life Hub</h3>
      <img src="assets/images/login/image-login.png" alt="image-login" class="image">
    </div>

    <div class="login_inputs d-flex flex-column justify-content-center align-items-center">

      <form class="" [formGroup]="loginForm">

        <div class="form-group">

          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" required formControlName="email" placeholder="example@gmail.com"/>

        </div>
        <div class="form-group mt-3">

          <label for="password" class="form-label" >Senha</label>
          <input type="password" class="form-control" id="password" required formControlName="password"/>

        </div>

      </form>

      <button class="button mt-5 shadow"> Login </button>

    </div>
  </div>

</div>


