$azul-sereno: #89B0AE;
$azul-claro: #A4C6D8;
$azul-escuro: #3C6382;
$roxo-claro: #9E91C3;
$roxo-escuro: #614F8C;


body
{
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
